body {
  font-family: Poppins, sans-serif;
  background: rgb(251, 251, 251);
  
}

.card {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: white;
}

.text-grey {
  color: rgb(168, 159, 159);
}